{% load static %}
<section class="position-relative pt-120 pb-120 overflow-hidden">
    <div class="play-elements wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.7s">
        <img src="{% static 'images/elements/play-el.png' %}" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-sm-left text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="section-header">
                    <span class="section-sub-title">تريد معرفتها</span>
                    <h2 class="section-title">كيفية اللعب </h2>
                    <p>اتبع هذه ال 5 خطوات </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-xl-start justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-1.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/1.png' %}" alt="image-icon">
                        <span class="play-card__number">01</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">التسجيل</h3>
                        <p>سجل عن طريق الإيميل ووسائل التواصل الإجتماعي</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-2.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/2.png' %}" alt="image-icon">
                        <span class="play-card__number">02</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">إختر</h3>
                        <p>اختر صندوقك لتفتحه</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-3.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/3.png' %}" alt="image-icon">
                        <span class="play-card__number">03</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">الدفع</h3>
                        <p>ادفع المبلغ المطلوب لفتح الصندوق</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-1.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/4.png' %}" alt="image-icon">
                        <span class="play-card__number">04</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">اختيار عشوائي</h3>
                        <p>احصل علي واحدة من الجوائز التي في الصندوق</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-2.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/5.png' %}" alt="image-icon">
                        <span class="play-card__number">05</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">مبروك</h3>
                        <p>مبرووك استمتع الأن بجائزتك</p>
                    </div>
                </div><!-- play-card end -->
            </div>
        </div>
    </div>
</section>
