{% load static %}
<section class="position-relative pt-120 pb-120 overflow-hidden">
    <div class="play-elements wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.7s">
        <img src="{% static 'images/elements/play-el.png' %}" alt="image">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-sm-left text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="section-header">
                    <span class="section-sub-title">Need to know about</span>
                    <h2 class="section-title">How To Play</h2>
                    <p>Follow these 5 easy steps! </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-xl-start justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-1.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/1.png' %}" alt="image-icon">
                        <span class="play-card__number">01</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">Register</h3>
                        <p>Register via e-mail or social networks</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-2.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/2.png' %}" alt="image-icon">
                        <span class="play-card__number">02</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">Choose</h3>
                        <p>Choose Your Box & OPEN IT</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-3.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/3.png' %}" alt="image-icon">
                        <span class="play-card__number">03</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">Pay</h3>
                        <p>Pay the Amount REQUIRED to Open the Box</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-1.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/4.png' %}" alt="image-icon">
                        <span class="play-card__number">04</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">Random Pick</h3>
                        <p>Get one of the items from your box</p>
                    </div>
                </div><!-- play-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
                <div class="play-card bg_img" data-background="{% static 'images/elements/card-bg-2.jpg' %}">
                    <div class="play-card__icon">
                        <img src="{% static 'images/icon/play/5.png' %}" alt="image-icon">
                        <span class="play-card__number">05</span>
                    </div>
                    <div class="play-card__content">
                        <h3 class="play-card__title">Win</h3>
                        <p>Congratulations Take Your GIFT</p>
                    </div>
                </div><!-- play-card end -->
            </div>
        </div>
    </div>
</section>
