{% load static %}
<section class="position-relative pt-120 pb-120">
    <div class="bg-el"><img src="{% static 'images/bg/winner.jpg' %}" alt="image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                <div class="section-header text-center">
                    <span class="section-sub-title">The biggest lottery winners of the month</span>
                    <h2 class="section-title">Top Ten winners</h2>
                    <p>There have been numerous winnings, but some winners were luckier than others</p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="winner-wrapper">
                    <div class="left">
                        <div class="winner-prize-thumb wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><img
                                src="{% static 'images/elements/car.png' %}" alt="image"></div>
                    </div>
                    <div class="right">
                        <div class="winner-slider">
                            <div class="winner-slide-item">
                                <div class="winner-thumb"><img src="{% static 'images/winner/w-1.png' %}" alt="image">
                                </div>
                                <div class="winner-content bg_img"
                                    data-background="images/elements/winner-content-bg.jpg">
                                    <h6 class="winner-name">Breeze Zodiac</h6>
                                    <p>Draw took place on</p>
                                    <span class="draw-date">19/04/2020</span>
                                </div>
                            </div><!-- winner-slide-item end -->
                            <div class="winner-slide-item">
                                <div class="winner-thumb"><img src="{% static 'images/winner/w-1.png' %}" alt="image">
                                </div>
                                <div class="winner-content bg_img"
                                    data-background="images/elements/winner-content-bg.jpg">
                                    <h6 class="winner-name">Breeze Zodiac</h6>
                                    <p>Draw took place on</p>
                                    <span class="draw-date">19/04/2020</span>
                                </div>
                            </div><!-- winner-slide-item end -->
                            <div class="winner-slide-item">
                                <div class="winner-thumb"><img src="{% static 'images/winner/w-1.png' %}" alt="image">
                                </div>
                                <div class="winner-content bg_img"
                                    data-background="images/elements/winner-content-bg.jpg">
                                    <h6 class="winner-name">Breeze Zodiac</h6>
                                    <p>Draw took place on</p>
                                    <span class="draw-date">19/04/2020</span>
                                </div>
                            </div><!-- winner-slide-item end -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div><!-- container end -->
</section>